<#include "layouts/header.ftl.html">

	<div class="container-fluid">
		<div class="row top_padding running_contest-style unselectable">
			<div class="col-sm-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading navbar_clr"><i class='fas fa-mug-hot'></i> Running Contest</div>
					<div class="panel-body">
						<div id="contest_bar" data-toggle="collapse" data-target="#running_contest">
							<div class="row">
								<div class="col-sm-4">							
									<h4>Summer Contest 2019<h4>
								</div>
								<div class="col-sm-4">							
									<h5>Total Participation: 31</h5>
								</div>
								<div class="col-sm-4">							
									<h5>Starting Time: Sunday, 08:55 PM</h5>
								</div>
							</div>
						</div>
						<div id="running_contest" class="collapse">
						    <div class="row">
						    	<div class="col-sm-8">
						    		<img src="https://i.imgur.com/XR0hdd8.jpg" class="img-thumbnail" alt="Contest Banner">
						    	</div>
						    	<div class="col-sm-4">
						    	<iframe src="http://free.timeanddate.com/countdown/i6uhqrbm/n73/cf108/cm0/cu4/ct0/cs1/cac000/co1/cr0/ss0/cac000/cpcf00/pcfff/tc833891/fn3/fs175/tatEnds%20In%3A/tac000/tptEnds%20In%3A/tpc000/iso2019-07-14T23:01:00" allowTransparency="true" frameborder="0" width="320" height="125"></iframe>
								<br><br>
								<a href="#" type="button" class="btn btn-default">Enter in Contest</a>
								<br>
								<a href="#" type="button" class="btn btn-default">Edit Contest</a>
						    	<br>
						    	<a href="#" type="button" class="btn btn-default">Request for join</a>
						    	</div>
						    </div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-sm-7 col-md-offset-4">
				<div class="panel panel-default">
					<div style="font-weight: bold; font-size: 22px;" class="panel-heading navbar_clr"><i class='far fa-clock'></i> Upcoming Contest</div>
					<div class="panel-body future_contest">
						<table class="table table-hover">
							<thead>
						      <tr>
						        <th>Contest Name</th>
						        <th>Start Time</th>
						        <th>End Time</th>
						      </tr>
						    </thead>
						    <tbody>
							      <tr>
							        <td>Septembar Challenge </td>
							        <td>10:30 PM<br>10/08/2019</td>
							        <td>10:30 PM<br>11/08/2019</td>
							      </tr>
							      <tr>
							        <td>Septembar Challenge </td>
							        <td>10:30 PM<br>10/08/2019</td>
							        <td>10:30 PM<br>11/08/2019</td>
							      </tr>
						      </tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div style="font-weight: bold; font-size: 22px;" class="panel-heading navbar_clr"><i class='far fa-clock'></i> Past Contest</div>
					<div class="panel-body future_contest">
						<table class="table table-hover">
							<thead>
						      <tr>
						        <th>Contest Name</th>
						        <th>Start Time</th>
						        <th>End Time</th>
						      </tr>
						    </thead>
						    <tbody>
							      <tr>
							        <td>Septembar Challenge </td>
							        <td>10:30 PM<br>10/08/2019</td>
							        <td>10:30 PM<br>11/08/2019</td>
							      </tr>
							      <tr>
							        <td>Septembar Challenge </td>
							        <td>10:30 PM<br>10/08/2019</td>
							        <td>10:30 PM<br>11/08/2019</td>
							      </tr>
						      </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default" id="add_contest">
					<div class="panel-body">
					<img src="https://i.imgur.com/86qIk7A.png" class="img-thumbnail" alt="Contest Banner">
					<br><br>
					<a href="#" type="button" class="btn btn-default">Add New Contest</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<#include "layouts/footer.ftl.html">