<#include "layouts/header.ftl.html">
	<div class="container-fluid">
		<div class="row top_padding">
			<div class="col-sm-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-3">
								<img src="https://i.imgur.com/AQB4suu.png" class="img-thumbnail" alt="Cinque Terre" height="236">
							</div>
							<div class="col-sm-6">
								<h1 style="text-align: center;">Shaykh Siddique</h1>
								<br>
								<h4 style="color: #880E4F; font-weight: bold;">@${username}</h4>
								<span style="color:grey; font-weight: bold; font-size: 15px;">Member since June 2019</span><br>
								<span style="color:grey; font-weight: bold; font-size: 15px;">Institution: East West University</span><br>
								<span style="color:grey; font-weight: bold; font-size: 15px;">Country: Bangladesh</span><br>
								<span style="color:grey; font-weight: bold; font-size: 15px;">Language: English</span>
								
							</div>
							<div class="col-sm-3">
								<br><br>
								<span style="font-weight: bold; border: 1px solid silver; font-size: 20px; margin: 10px; padding: 10px;">Rank: <span style="color:green;">5th</span> | Score: <span style="color:blue;">50</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<#include "layouts/footer.ftl.html">