<#include "layouts/header.ftl.html">
	<!-- profile profile panel body start -->
	<div class="container-fluid">
		<div class="row top_padding">
			<div class="col-sm-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-3">
								<img src="https://i.imgur.com/AQB4suu.png" class="img-thumbnail" alt="Cinque Terre" height="236">
							</div>
							<div class="col-sm-6">
								<h1 style="text-align: center;">Shaykh Siddique</h1>
								<br>
								<h4 style="color: #880E4F; font-weight: bold;">@${username}</h4>
								<span id="profile_text-style">Member since June 2019</span><br>
								<span id="profile_text-style">Institution: East West University</span><br>
								<span id="profile_text-style">Country: Bangladesh</span><br>
								<span id="profile_text-style">Language: English</span>
							</div>
							<div class="col-sm-3">
								<br><br>
								<span style="font-weight: bold; border: 1px solid silver; font-size: 20px; margin: 10px; padding: 10px;">Rank: <span style="color:green;">5th</span> | Score: <span style="color:blue;">50</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-10 col-md-offset-1">
		<hr style="border-top-color:grey">
	</div>
	<!-- profile submission panel body start -->
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1 col-sm-7 col-md-offset-4">
				<div class="panel panel-default">
					<div style="font-weight: bold" class="panel-heading navbar_clr">User Statistics</div>
					<div class="panel-body">
						<table class="table" style="border:1px solid silver">
						    <thead>
						      <tr>
						        <th>Total Solved:</th>
						        <th>53</th>
						      </tr>
						      <tr>
						        <th>Total Submissions:</th>
						        <th>64</th>
						      </tr>
						      <tr>
						        <th>Participation in Contest:</th>
						        <th>06</th>
						      </tr>
						    </thead>
					    </table>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div style="font-weight: bold" class="panel-heading navbar_clr">Recent Submissions:</div>
					<div class="panel-body">
						<table class="table" style="border:1px solid silver">
						    <thead>
						      <tr>
						        <th>Date/Time</th>
						        <th>Problem</th>
						        <th>Result</th>
						        <th>Lang</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>08:55 PM 09/10/19</td>
						        <td>BITOBYT</td>
						        <td>&#x274C;</td>
						        <td>C++</td>
						      </tr>
						      <tr>
						        <td>08:55 PM 09/10/19</td>
						        <td>BITOBYT</td>
						        <td><span style="font-size:25px;color:green">&#x2713;</span></td>
						        <td>Java</td>
						      </tr>
						      <tr>
						        <td>08:55 PM 09/10/19</td>
						        <td>BITOBYT</td>
						        <td><span style="font-size:25px;color:green">&#x2713;</span></td>
						        <td>Java</td>
						      </tr>
						      <tr>
						        <td>08:55 PM 09/10/19</td>
						        <td>BITOBYT</td>
						        <td>&#x274C;</td>
						        <td>C++</td>
						      </tr>
						    </tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<#include "layouts/footer.ftl.html">