<#include "layouts/header.ftl.html">
	<h1>Registration Page</h1>
	<form action="./user/register" method="POST">
		<span>Full Name: </span><input type="text" name="fullname"><br><br>
		<span>Username: </span><input type="text" name="username"><br><br>
		<span>Email: </span><input type="text" name="email"><br><br>
		<span>Password: </span><input type="password" name="password"><br><br>
		<span>Confirm Password: </span><input type="password" name="con_password"><br><br>
		<input type="submit" value="Register">
	</form>
</body>
</html>