	<br><br>
	<!-- add some custom javascript files -->
	<script type="text/javascript"><#include "onlinejudge2019.js"></script>
	<footer class="footer-style">
          <div class="container">
            <div class="row">
             	<div class="col-sm-12 col-md-6">
             		<h3>About</h3>
             		<p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
             	</div>
             	<div class="col-xs-6 col-md-3">
             		<h3 class="margin_text-footer">Sitemap</h3>
             		<ul class="list-unstyled quick-links margin_text-footer">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contest</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Rank</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Feeds</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
					</ul>
             	</div>
             	<div class="col-xs-6 col-md-3">
             		<h3 class="margin_text-footer">Policy</h3>
             		<ul class="list-unstyled quick-links margin_text-footer">
						<li><a href="https://icpc.baylor.edu/"><i class="fa fa-angle-double-right"></i>Terms of Service</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Refund Policy</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Code of Conduct</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ's</a></li>
					</ul>
             	</div>
            </div><hr>
            <!-- last fotter start -->
            <div class="row">
            	<div class="col-md-8 col-sm-6 col-xs-12">
           		    <div class="footer-copyright">
						<span>Copyright &copy; 2019 All Rights Reserved by <a href="#">Online Judge</a></span>
		            </div>
            	</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<ul class="social-icons">
						<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
					</ul>
				</div>           
            </div>
          </div>
        </footer>

</body>
</html>