<!DOCTYPE html>
<html>
	<head>
		<title>Online Judge</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
		<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
		
		<!-- custom css files-->
		<style><#include "onlinejudge2019.css"></style>
	</head>
	<body>
		<!-- navigation bar start -->
		<nav class="navbar navbar-inverse navbar_clr main_nav navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
			    	<button style="background-color:#7E57C2;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
			      	</button>
			      <a class="navbar-brand nav_header_font" href="/Online-Judge"><strong><span class="clr">ONLINE JUDGE</span></strong></a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			    	<ul class="nav navbar-nav">
		      			<li><a href="#"><span class="clr">CONTEST</span></a></li>
			      		<li><a href="/Online-Judge/problems"><span class="clr">PROBLEMS</span></a></li>
				        <li><a href="#"><span class="clr">SUBMISSION</span></a></li>
				        <li><a href="#"><span class="clr">FEEDS</span></a></li>
				        <li><a href="#"><span class="clr">ABOUT</span></a></li>
			   		</ul>
			    	<ul class="nav navbar-nav navbar-right">
				        <#if logged_in == 1>
			    			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/Online-Judge/profile"><span class="clr"> ${username}</span><span class="caret"></span></a>
						        <ul class="dropdown-menu navbar_clr">
						          <li><a class="main_nav" href="/Online-Judge/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
						          <li><a class="main_nav" href="#"><span class="glyphicon glyphicon-edit"> </span> Edit Profile</a></li>
						        </ul>
						      </li>
					        <li><a href="/Online-Judge/logout"><span class="glyphicon glyphicon-log-in clr"></span><span class="clr"> Logout</span></a></li>
			    		<#else>
					        <li><a href="/Online-Judge/register"><span class="glyphicon glyphicon-user clr"></span><span class="clr"> SIGN UP</span></a></li>
					        <li><a href="/Online-Judge/login"><span class="glyphicon glyphicon-log-in clr"></span><span class="clr"> LOGIN</span></a></li>
				        </#if>
		    		</ul>
		  		</div>
	  		</div>
		</nav>
		<!-- navigation bar end -->

